<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='robots' content='noindex, nofollow' />
    <title>Project: {{ site.name }}</title>
</head>
<body>

<h1>Project: {{ site.name }}</h1>
<h3>Templates:</h3>
{% if allowed_templates and allowed_templates is iterable and allowed_templates | length > 0 %}
<ul>
    {% for val in allowed_templates %}
    <li>
        <a href="{{ site.url }}{{ val }}/">
            {{ ucfirst(val) }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>
