<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}" />
    <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" sizes="32x32">
    <link rel="icon" href="{{ site.url }}/assets/svg/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ site.url }}/assets/img/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='robots' content='noindex, nofollow' />
    <title>{{ html_title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{#    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">#}
    <link rel='stylesheet' id='main-css' href='{{ site.url }}/assets/css/style.min.css?ver={{ assets_version }}' type='text/css' media='all' />
    {{ all_blocks_styles }}
</head>
